article {
  margin: 100px auto;
  width: 60%;
}
input[type=text] {
  font-size: 30px;
}

input[type=text] {
  outline: none;
  border: none;
  border-bottom: 2px solid darkgrey;
  box-sizing: border-box;
  width: 100%;
}
article {
  position: relative;
}
div {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  background-color: #00A8FF;
  transition: 0.3s width ease-in-out;
}
input[type=text]:not(:focus) + div {
  width: 0px;
}
input[type=text]:focus + div {
  width: 100%;
}


























